*{
    padding:0px;
    margin:0px;
}
body{
    overflow-x: hidden;
}
.t-center{
    text-align: center;
}
.main{
    box-shadow: 1px 1px 4px 1px #000;
    max-width: 1000px;
    margin:0px auto;
}
.head{
    position: relative;
}
.hd-top img{
    width: 100%;
}
.hd-main{
    font-size: 22px;
    color: #fff;
    top: 65px;
    left: 22%;
    text-transform: capitalize;
    position: absolute;
    text-shadow: 1px 1px 4px #000;
}
.hd-bottom{
    position: absolute;
    top:0px;
}
.hd-bottom div{
    position:absolute;
}
.hd-bottom div:nth-child(2){
    margin-left: 200px;
}
.hd-bottom div:nth-child(3){
    margin-left: 400px;
}
.hd-p{
    position: absolute;
    left: 40px;
    bottom: 17px;
}
.menu{
    background:url(../images/menu_bg.png);
    position: relative;
}
.menu li{
    list-style-type:none;
}
.menu>li:after{
    content: "";
    visibility: hidden;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 30px;
    transform: scaleX(0);
    transition: ease 0.6s;
}
.menu>li:hover:after{
    visibility: visible;
    transform: scaleX(1);
}
.menu>li{
    position: relative;
    display: inline-block;
}
.menu a{
    color:#fff;
    padding:10px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.menu>li>ul{
    visibility:hidden;
    opacity: 0;
    position: absolute;
    top:100%;
    background:url(../images/menu_bg.png);
    margin-top: 15px;
    transition: all, 0.6s;
    z-index: 99;
}
.menu>li:hover ul{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}
.s-main{
    background:#ccc;
    display: flex;
    justify-content: space-between;
    padding:10px 10px 20px;
}
.ml-top{
    color:blue;
    font-weight: 800;
    text-transform:uppercase;
    text-align: center;
    background: url(../images/header.png);
    height: 45px;
    width: 207px;
    line-height: 30px;
}
.m-left{
    box-shadow: 1px 1px 4px 1px #000;
    background: #fff;
    padding:0px 10px;
}
.ml-bottom ul{
    margin-left: 35px;
    position: relative;    
}
.ml-bottom li{
    padding:10px 0px;
}
.ml-bottom>ul>li>a{
    display: block;
    color:blue;
    font-weight: 600;
    text-transform: uppercase;
}
.ml-bottom>ul>li>ul>li>a{
    color:blue;      
}
.ml-bottom a:hover{
    color:red;
    cursor: pointer;
}
.m-right{
    margin-left:10px;
}
.mr-top img{
    width: 100%;
}
.mb-td{
    color:blue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:800;
    padding:10px 20px;
}
.product{
    display: flex;
    flex-wrap: wrap;
}
.m-product{
    cursor: pointer;
    box-sizing: border-box;
    width: calc(92% / 3);
    background: #fff;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}
.m-product:nth-child(n) p{
    padding:5px 0px;
}
.m-product:nth-child(n) img{
    padding:5px 0px;
}
.m-product:nth-child(3n){
    margin-right: 0px;
}
.m-product img:hover{
    transform: scale(0.9);
    transition: all 0.6s;
}
.price{
    font-weight: 700;
}
.footer{
    background: #fff;
    padding:10px 0px 20px;
}
.f-top ul{
    text-align:right;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.f-top ul li{
    list-style-type: none;
    padding:10px;
}
.f-top ul li a{
    color:blue;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.f-top ul li a:hover{
    color:red;
    cursor: pointer;
}
.f-top::after{
    display: block;
    content:"";
    clear: both;
}
.f-bottom{
    text-align: center;
    font-weight: 800;
}
.f-bottom span{
    color:blue;
}