RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?controller=$1  [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?controller=$1  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?controller=$1&action=$2  [L]
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?controller=product&action=detailAction&id=$2  [L]
